.app {

    padding: var(--pad);
    min-height: 100vh;
    display: flex;
    overflow-x: hidden;

}
.app a.self-test {
    
    position: fixed;
    left: 0;
    bottom: 0;
    margin: var(--small-pad);
    z-index: -1;
    max-width: 200px;
    
}
.app > header {
    
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    padding: 0 var(--small-pad);
    height: calc(var(--small-pad) * 3);
    width: 100%;
    background-color: #EEE;
    box-shadow: 0 0 30px -10px black;
    display: flex;
    align-items: center;

}
.app a.home img {
    
    max-height: 35px;
    padding-right: var(--half-pad);
    
}
.app .storage-status {

    flex: 1;

}
.app .storage-status .connection {
    
    margin: 0 0.5em;
    width: 150px;
    display: inline-block;
    text-align: center;
    padding: 0.4em 0.8em;
    background-color: rgba( 0, 0, 0, 0.1 );
    
}
.app .storage-status .connection.connected {
    
    background-color: transparent;
    
}
.app .storage-status .connection.connected::before {
    
    content: " ";
    display: block;
    position: absolute;
    background: radial-gradient(#AFA, #7A7);
    box-shadow: inset 0 0 5px 0 black;
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
    margin-top: -1px;
    
}
.app .storage-status .provider-name::before {
    
    content: " ";

}
.app .storage-status .selected-folder::before {
    
    content: ": ";
    
}
.app .toast .toast-body {
    
    font-weight: 300;
    color: black;
    line-height: 1.5;
    padding: var(--small-pad);
    
}

.app .toast .toast-progress {
    
    background: linear-gradient( to left, white, #92c9ff );
    
}
.app .body {
    
    flex: 1;
    display: flex;
    
}
.app .body .side-bar {
    
    flex-basis: auto;
    width: 400px;
    margin-right: var(--pad);
    display: flex;
    flex-direction: column;
    
}
.app .body .side-bar + * {
    
    flex: 1;
    
}