.maybe-loading {
    
    position: relative;
    width: 100%;
    
}
.maybe-loading .processing {
    
    position: absolute;
    top: -10px;
    left: -10px;
    bottom: -10px;
    right: -10px;
    background-color: rgba( 255, 255, 255, 0.7 );
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding-top: 80px;
    z-index: 1000;
    
}
.folder-list-loading {
    
    position: relative;
    
}
.folder-list-loading::before,
.maybe-loading .processing::before {
    
    content: " ";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: linear-gradient(to bottom right, #07F, transparent, transparent);
    margin-top: -60px;
    animation:     spin 0.2s infinite linear,
                   pop 4s infinite alternate linear;
    
}
@keyframes spin {
    from{ transform: rotate(0deg); }
    to{ transform: rotate(359deg); }
}
@keyframes pop {
    from { margin-left: -50px; }
    to { margin-left: 50px; }
}