.routing-nav {

    overflow: hidden;
    text-transform: uppercase;
    margin-right: var(--pad);
    margin-bottom: var(--pad);

}
.routing-nav h1 {

    margin: 0;
    padding: 10px;
    margin-bottom: 20px;

}
.routing-nav .routing-link {

    display: block;
    font-size: 1.1em;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10pt;
    color: black;
    padding: 10px;

}
.routing-nav .routing-link-disabled {
    
    color: silver;
    
}
.routing-nav .routing-link + .routing-link {

    margin-top: 10px;

}
.routing-nav .routing-link:hover:not(.routing-link-disabled) {

    background-color: #CCC;

}
.routing-nav-backwards .routing-link::before {

    content: "⇦";
    margin-right: 10px;

}
.routing-nav-forwards .routing-link::after {

    content: "⇨";
    float: right;

}
.routing-nav-backwards {

    margin-bottom: 10px;

}
.routing-nav-secondary {

    margin-top: 20px;

}