.progress {

    width: 100%;
    min-height: 100vh;
  
}
.progress h1,
.progress h2 {
    
    color: silver;
    
}
.progress h1 {
    
    font-size: 2rem;
    border-bottom: solid 0.1px silver;
    padding-bottom: var(--small-pad);
    
}
.progress .recharts-line path {
    
    stroke-width: 4;
    stroke-opacity: 0.5;

}
.progress table {
    
    border-collapse: collapse;
    margin: var(--small-pad);
    
}
.progress table .swatch {
    
    border-radius: 0.5rem;
    margin-right: var(--small-pad);
    height: 1rem;
    width: 1rem;
    display: inline-block;
    
}
.progress table td,
.progress table th {
    
    border: solid 1px silver;
    padding: var(--small-pad);
    text-align: center;
    font-weight: 300;
    
}
.progress table td.up {
    
    background-color: #EFE;
    
}
.progress table td.down {
    
    background-color: #FEE;
    
}
.progress table td.significant {
    
    font-weight: 600;
    
}
.progress tr.detail td {
    
    display: none;
    
}
.progress .team-list {
    
    margin-top: var(--pad);
    
}
.progress .profile-card {
    
    max-width: 900px;
    width: 900px;
    box-shadow: 0 0 10px -5px black;
    padding: 20px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    position: relative;
    display: grid;
    grid-template-columns: auto 160px;
    grid-template-rows: 50px 110px;
    overflow: hidden;
    max-height: 200px;
    transform-origin: left;

}
.progress .profile-card {
    
    margin: var(--small-pad);
    
}
.progress .profile-swatch {
    
    display: none;
    
}
.progress .profile-name {
    
    margin-top: 0;
    border-bottom: solid 1px var(--profile-color);
    
}
.progress .profile-card .profile-avatar {
    
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: var(--small-pad);
    
}
.progress .profile-card .profile-blurb {
    
    white-space: pre-wrap;
    margin-right: var(--small-pad);
    
}