.self-test {
    
    width: 100%;
    
}
.self-test .team-editor-tests .team-logo {
    
    width: 150px;
    position: absolute;
    top: 0;
    right: 0;
    
}
.self-test .team-editor-tests .team-details-editor {
    
    padding-right: 150px;
    position: relative;
    height: 200px;
    
    
}
.self-test .team-editor-tests .team-name-editor {
    
    font-size: 2em;
    border: none;
    display: block;
    
}
.self-test .team-editor-tests .team-logo-editor {
    
    padding: 10px;
    display: inline-block;
    width: 100%;
    
}
.self-test .team-editor-tests .profile-card {
    
    border: solid 1px silver;
    padding: 10px;
    position: relative;
    height: 140px;
    padding-right: 140px;
    margin: 10px 0;
    
}
.self-test .team-editor-tests .profile-card.selected {
    
    box-shadow: 0 0 30px 0px #07F;
    
}
.self-test .team-editor-tests .profile-blurb {
    
    display: inline-block;
    vertical-align: top;
    white-space: pre-wrap;
    line-height: 1.5;
    
}
.self-test .team-editor-tests h3 {
    
    border-bottom: solid 3px var(--profile-color);
    margin: 0 0 10px 0;
    line-height: 2;
    
}
.self-test .team-editor-tests .profile-avatar {

    position: absolute;
    right: 10px;
    top: 10px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: var(--profile-color);
    padding: 20px;
    
}
.self-test .team-editor-tests .profile-swatch {
    
    display: none;
    
}
.self-test .team-editor-tests .avatar-picker svg {
            
    width: 40px;
    padding: 5px;
    transition: all 0.3s;
    border: solid 1px transparent;
    
}
.self-test .team-editor-tests .avatar-picker svg:hover {

    background-color: white;
    transform: scale(1.5);
    border: solid 1px black;
    
}
.self-test .team-editor-tests .profile-color-swatch {
    
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 0 10px 0 0;
}

.self-test .team-editor-tests .profile-avatar svg {
    
    width: 80px;
    
}
.self-test .team-editor-tests pre {
    
    white-space: pre-line;
    
}
.self-test .step-name::before {
    
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
    color: white;
    line-height: 1.5em;
    font-size: 1.1em;
    margin: 5px;
    text-align: center;
    
}
.self-test .success-result .step-name::before {
    
    content: "✔";
    background-color: rgb(0, 128, 0);

}
.self-test .fail-result .step-name::before {
    
    content: "✘";
    background-color: rgb(255, 0, 0);

}
.self-test .step-name {
    
    margin: 0 0 5px 0;
    
}