* {

  box-sizing: border-box;

}
html {

  background-color: #92c9ff;
  min-height: 100%;
  --pad: 110px;
  --half-pad: 45px;
  --top: 0px;
  --menu: 370px;
  --left: calc(var(--menu) + var(--pad));
  --primary-color: #333;

}
body {

  background-color: white;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial;
  color: var(--primary-color);
  font-size: 12pt;
  box-shadow: 0 0 30px 0;
  margin-bottom: calc(var(--pad) * 2);
  padding-bottom: var(--pad);
}
p {

  max-width: 800px;
  line-height: 1.5;
  margin-top: 0;

}
footer {

  position: fixed;
  z-index: -1;
  bottom: 0;
  right: 0;
  height: var(--pad);
  margin: var(--half-pad);
  
}
